/*---------------------Overall-------------------------*/
body {font-family:Verdana, Arial, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
#wrapper { width: 100%;
         min-width:850px;
         background-color: #403E3E; 
} 
.top{
    width: 100%;
    height: 60px;
    background-color: #2F2F2F; 
    position:fixed;
    top:0;
    z-index: 1;
    min-width:850px;
}
.logo{
    margin-left: 4%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
}

.document ul {height:60px;
        margin:0;}
.document ul li{
    margin-left: 2%;
    height: 60px;
    list-style: none;
    line-height:60px;
    font-size: 20px;
    float: left;
    display: flex;
    align-items: center;    
}
.document ul li a{
    display: block;
    color: #FFFFFF;
    text-decoration: none; 
    height: 40px;
    display: flex;
    align-items: center; 
}
.document ul li a:hover{
    border-bottom: 2px solid #5b5b6b;
    color: #828282;
}
.document ul li a:active{
    border-bottom: 2px solid #FFFFFF;
    color: #828282;
}
.top-right{width: 40%;
    min-width:200px;
    height:60px;
    background-color: #2F2F2F; 
    position:fixed;
    top:0;
    right:0;}
.cart{
    margin-right: 1%;
    height: 60px;
    display: flex;
    align-items: center;
    position:fixed;
    top:0;
    right:150px;
}
.log{    
    height: 60px;
    margin-right: 4%;
    display: flex;
    align-items: center;
    position:fixed;
    top:0;
    right:0;
}
.logbutton{background-color: #5b5b6b;
    border-radius:25px;
    width:90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.log a{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

footer {  background-color: #2F2F2F;
    font-size:70%;
    text-align: center;
    clear: right;
    padding-bottom:15px;
    color:#FFFFFF;
}	
footer a { color:#FFFFFF;
}
footer img { border-radius:8px;}
.main{padding-top: 80px;
    min-height: 500px;
} 

/*---------------------Home page-------------------------*/
/*Banner*/
.topBanner {
    overflow: hidden;
    height: 400px;
    position: relative;
    top:1;
    margin: 20px;
}
.topBanner .banner {
    position: relative;
    left: 0;
    height: 100%;
    width: 800px;
    margin: 5px;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite normal;
    top:1;
}
.topBanner .banner img {
    display: inline-block;
    height: 100%;
    top:1;
}

@keyframes scroll-left {
    0% {
        left: 0;
    }
    100% {
        left: -800px;
    }
}
.midView{
    width: 100%;
    height: 100%;
    min-width:850px;
    margin: 20px 5px;
}

/*Left filter*/
.leftcolumn { 
    float:left;
    width: 30%;
    text-align:center;
    height: 100%;
    color:#FFFFFF;
} 
#filtertable{
    text-align:center;
    height:100%;
    margin:auto;
}
#filtertable th { 
    padding:10px 10px;
    font-size:30px;
}
#filtertable td { padding:10px 10px;
}
#myName {
    width: 150px;
}
#myCinema {
    width: 157px;
}
#myDate {
    width: 150px;
}
#myGenre {
    width: 157px;
}

/*Right details*/
.rightcolumn { 
    height: auto;
    margin-left: 30%;
    width: 65%;
} 
h2 {
    color:#FFFFFF;
}
.rightcolumn .content {padding: 1px 20px 20px 10px; 
} 
.movie-poster{
    text-align: center;
}
.movie-name{
    text-align: center;
    font-size:20px;
}
.movie-description {
    font-size: 13px;
    font-weight: 400px;
    letter-spacing: 1px;
    color: #AEAEAE;
    font-size:15px;
}
.content{
    display:flex;
    flex-wrap:wrap;
}
.col-3{
    flex:0 0 33%;
    max-width:33%;
    margin: 0px;
}
.movie-card{
    margin-right: 30px;
    margin-bottom: 30px;
}
.movie-card a{
    color: #FFFFFF;
    text-decoration: none;
}
.movie-card:hover {
    transition: 300ms;
    transform: scale(1.06);
}
.poster{
    width: 150px;
    box-shadow:6px 6px 3px #2F2F2F;
}

/*---------------------Movie page-------------------------*/
/*Card*/
.col-1{
    width: 100%;
}
.movie-card-hori{
    margin-right: 30px;
    margin-bottom: 30px;
    height:auto;
}
.movie-card-hori a{
    color: #FFFFFF;
    text-decoration: none;    
}
.movie-poster-left{
    float: left;
    width: 25%;
    min-width: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poster-left{
    /* width: 150px; */
    height: 250px;
    box-shadow:6px 6px 3px #2F2F2F;
    margin: auto;
}
.short-details-right{
    margin-left: 30%;
    min-height: 250px;
}

/*Cinema date time select*/
.select-box{
    width: 100%;
    margin: 30px 20px;
    color: #2F2F2F;
}
.cinema-select{
    float:left;
    width: 150px;
    border-radius:10px;
    margin-left: 20px;
}
.cinema-select-table{
    background-color: #bbbbce;
    width: 130px;
    margin: auto;
    border-radius:10px;
}
.cinema-select-table td { 
    padding:10px 10px;
    width:130px;
    border-radius:10px;
    height:30px;
}
.cinema_selected{
    background-color:transparent;
    border:0;
    font-size:15px;
}
.cinema_selected:hover   {
    cursor:Pointer;
}
.datetime-select{
    background-color: #bbbbce;
    border-radius:10px;
    margin-left: 25%;
    min-width: 500px;
    min-height: 150px;

}
.datetime-select-table{
    min-width: 500px;
}
.datetime-select-table td { 
    padding:10px 20px;
    border-radius:10px;
}
.datetime-select-table th { 
    padding:15px 20px;
}

/*---------------------Booking page-------------------------*/
/**/
.main-right{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.movie_container #movie {
margin-left: 10px;
padding: 5px 15px;
font-size: 14px;
border-radius: 5px;
appearance: none;
}
.movie_container #movie {
margin-left: 10px;
padding: 5px 15px;
font-size: 14px;
border-radius: 5px;
appearance: none;
}
.showcase {
margin: 16PX;
padding: 5px 10px;
display: flex;
/* justify-content: space-between; */
background: 0, 0, 0, 0.1;
}
.showcase li {
margin: 10px;
display: flex;
font-size: 14px;
}
.seat {
background-color: #5b5b6b;
height: 12px;
width: 15px;
margin: 3px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.seat.selected {
background-color: #6feaf6;
}
.seat.occupied {
background-color: #FFF;
}
.container {
perspective: 1000px;
}
.container .screen {
width: 200px;
height: 70px;
margin: 15px;
background-color: #ffffff;
transform: perspective(25px) rotateX(-3deg);
box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.container .row {
display: flex;
}
.container .row .seat {
transition: all 0.2s;
}
.container .row .seat:nth-child(2),
.container .row .seat:nth-child(8) {
margin-right: 15px;
}
.container .row .seat:not(.occupied):hover {
transform: scale(1.2);
cursor: pointer;
}
.container p {
margin: 30px 0px;
font-size: 14px;
}
.container p span {
color: #6feaf6;
}
